doctype html
html
  head
    meta(charset="utf-8")

    //link(rel="stylesheet",href="build/vendor.css")
    link(rel="stylesheet",href="build/base.css")

    script(src="build/vendor.js")
    script(type="text/paperscript",src="build/main.js",canvas="mainCanvas")
    script(src="/socket.io/socket.io.js")

    title Silent Forest

  body
        h1 Silent Forest
        canvas(id="mainCanvas",resize="true",keepalive="true")

        script(type='text/javascript').
            var ctx = document.getElementById("mainCanvas");
            ctx.width  = window.innerWidth;
            ctx.height = window.innerHeight;

        script(type='text/javascript').
            var socket = io();



